html,
body {
  font-family: verdana;
  display: flex;
  justify-content: center;
  background-image: url("/assets/recipe-finder-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  height: 100%;
}

#root {
  width: 100%;
  height: fit-content;
  min-height: 100%;
  max-width: 55rem;
  border: solid 1px black;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin: 0;
}

.recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: solid 1px black;
  padding: 1rem;
  margin: 1rem;
  margin-bottom: 0rem;
}

.ingredients {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.ingredient-list {
  display: flex;
  flex-direction: column;
  width: 30%;
}
